@use "utils/a11y"; // Om det inte funkar, byt @use mot @import
@use "vendor/reset";


:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: rem(16px);
  color-scheme: light dark;
  background-color: darkgreen;
}

body {
  padding: 0;
  margin: 0;
}

main {
  padding: 0;
  margin: 0;
}

.app {
  margin-block: 20px;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}


input {
  border-radius: 10px;
}

button {
  border-radius: 10px;
}

div.placeHolderIcon {
  content:url(/public/sun.svg/);
  max-width: 100px;
}

div.cloudySun {
  content:url(public/sunCloud.png);
  max-width: 100px;
}