@use "utils/a11y"; 
@use "vendor/reset";
$breakpoint-tablet: 768px;

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: rem(16px);
  color-scheme: light dark;
  background-color: #87ceeb;
  color: #ffffff;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

main {

}

footer {
  background: black;

  bottom: 0;
  position: absolute;
  width: 100vw;
  text-align: center;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  border-radius: 10px;
}

button {
  border-radius: 10px;
}

.placeHolderIcon {
  right: 0;
  top: 0;
  position: absolute;
  width: 100px;
}

@media (max-width: $breakpoint-tablet) {
  .app {
    display: inline-grid;
  }

  .placeHolderIcon {
    right: 0;
    top: 0;
    position: absolute;
    width: 100px;
  }

  .placeholderCity {
    width: 100%;
    font-size: x-large;
  }
}